@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white: #ffffff;
  --gray: #8e8d8a;
  --bg-light: #e2ded6;
  --text-dark: #2e2a27;
  --accent: #711cb2;
  --secondary: #9dadb4;
  --border: #e9e9e9;
  --neutral: #cfc7c3;
  --dark: #213d3f;
  --dark-alt: #373e40;
}

@theme inline {
  --color-white: var(--white);
  --color-gray: var(--gray);
  --color-bg-light: var(--bg-light);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-neutral: var(--neutral);
  --color-dark: var(--dark);
  --color-dark-alt: var(--dark-alt);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
